body{
    overflow: hidden;
}

.contenidoCarrusel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:99vh;
}

.carrusel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contenedorImagenCarrusel{
    height: 100%;
    width: 100%;
}

.imagenCarrusel{
    width: 100%;
    height: 100vh;
    text-align: center;
}

.imagenCarrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenCarrusel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.textoImagenCarrusel{
    width: 100%;
    text-align: right;
    position: fixed;
    bottom: 5%;
    right: 8%;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.7rem;
    line-height: 3rem;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0),3px 3px 5px rgba(0,0,0);
}

.flechas{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flechaIzquerda{
    width: 50px;
    height: 50px;
    background-image: url(/img/portada/IconFlecha.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    position: fixed;
    bottom: 50%;
    left: 2%;
    cursor: pointer;
    transform: rotate(180deg);
    opacity: 0.8;
    filter: drop-shadow( -5px -5px 4px rgb(243, 243, 243));
}

.flechaDerecha{
    width: 50px;
    height: 50px;
    background-image: url(/img/portada/IconFlecha.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 50%;
    right: 2%;
    cursor: pointer;
    opacity: 0.8;
    filter:  drop-shadow( 5px 5px 4px rgb(243, 243, 243));
}

.imagenExtra{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
}

.imagenExtraColumna{
    background-image: url(./img/columna.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 10%;
    width: 30%;
    height: 100vh;
}

.imagenExtraPositionIcon{
    background-image: url(./img/location.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 25%;
    height: 8vh;
    filter: drop-shadow( 1px 5px 2px rgba(0,0,0,0.8));
}
