.introContainer{
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    width:100%;
    height:96vh;
}

.intro-newGlobalWaterSport{
    background-image: url(./Recurso39.svg);
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.5));
    background-size:contain;
    background-repeat:no-repeat;
    background-position: top, center;
    width: calc(100% - 24px);
    height: 80%;
    margin-top: 12px;
}

.intro-logoAquatica{
    background-image: url(./logoAquatica.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: top, center;
    width: 100%;
    height: 15%;
    margin-top: 1%;
}
